/** Exemplo 1 **/
h1 {
  color: currentColor;
}
/** **/

/** Exemplo 2 **/
/* div {
  color: blue;
}

h1 {
  color: currentColor;
} */
/** **/

/** Exemplo 3 **/
/* div {
  color: blue;
}

h1 {
  color: red;
}

p {
  color: currentColor;
} */
/** **/